@model IEnumerable<CuentasWeb.Models.Cliente>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Adicionar nuevo cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCliente)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.IdCliente }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.IdCliente }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdCliente })
        </td>
    </tr>
}

</table>
